/* index.css
 *
 * The main stylesheet used by index.html and the base style for the rest of the site
 */

body {
    background-color: #CECECE;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    text-align: center;
    margin: 0;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', Garamond, serif;
    font-weight: 100;
    font-size: 48pt;
}